<div ng-cloak ng-controller="peopleCtrl">
    <md-content class="pm-subtitle">
        <h2>people</h2>
        <md-divider></md-divider>
    </md-content>

    <md-content layout-padding>
        <form class="pm-form" name="personForm">
            <p>adding a person</p>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>name</label>
                    <input md-maxlength="40"
                           name="name"
                           ng-model="name"
                           ng-pattern="/^[a-zA-Z\s]+$/"
                           required/>
                    <div ng-messages="personForm.name.$error" role="alert">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is mandatory with a maximum of forty characters
                        </div>
                        <div ng-message-exp="['pattern']">
                            only alphabetic characters and white spaces are allowed in this field
                        </div>
                        <div ng-message-default><em>an unexpected error occurred</em></div>
                    </div>
                </md-input-container>
                <md-button aria-label="add person" class="md-fab" ng-click="addPerson()">
                    <md-icon md-svg-src="/img/icons/ic_person_add.svg"></md-icon>
                </md-button>
            </div>
        </form>
    </md-content>

    <md-divider></md-divider>

    <md-content>
        <md-list flex>
            <md-list-item class="md-dense" ng-click="null" ng-repeat="item in listOfPeople | orderBy">
                <div class="md-list-item-text" layout="row">
                    <p class="pm-paragraph">{{ $index + 1 }}</p>
                    <p class="pm-paragraph">{{ item }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</div>
