<div ng-cloak ng-controller="peopleCtrl">
    <md-content class="pm-subtitle">
        <h2>people</h2>
        <md-divider></md-divider>
    </md-content>

    <md-content layout-padding>
        <form class="pm-form" name="personForm" novalidate>
            <p>adding a person</p>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>name</label>
                    <input maxlength="20"
                           name="name"
                           ng-model="person.name"
                           ng-pattern="/^[a-zA-Z\s]+$/"
                           required/>
                    <div ng-messages="personForm.name.$error" role="alert">
                        <div ng-message-exp="['required']">
                            <span class="pm-error">
                                type a name with a maximum of twenty characters
                            </span>
                        </div>
                        <div ng-message-exp="['pattern']">
                            <span class="pm-error">
                                only alphabetic characters and white spaces are allowed in this field
                            </span>
                        </div>
                        <div ng-message-default><span class="pm-error">an unexpected error occurred</span></div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>surname</label>
                    <input maxlength="20"
                           name="surname"
                           ng-model="person.surname"
                           ng-pattern="/^[a-zA-Z\s]+$/"
                           required/>
                    <div ng-messages="personForm.surname.$error" role="alert">
                        <div ng-message-exp="['required']">
                            <span class="pm-error">
                                type a surname with a maximum of twenty characters
                            </span>
                        </div>
                        <div ng-message-exp="['pattern']">
                            <span class="pm-error">
                                only alphabetic characters and white spaces are allowed in this field
                            </span>
                        </div>
                        <div ng-message-default><span class="pm-error">an unexpected error occurred</span></div>
                    </div>
                </md-input-container>
                <md-button aria-label="add person" class="md-fab" ng-click="addPerson()">
                    <md-icon md-svg-src="/img/icons/ic_add_person.svg"></md-icon>
                </md-button>
            </div>
        </form>
    </md-content>

    <md-divider></md-divider>

    <md-content>
        <md-list flex>
            <md-list-item ng-click="null" ng-repeat="person in listOfPeople | orderBy:'surname'">
                <div class="md-list-item-text" layout="row">
                    <p class="pm-paragraph">{{ $index + 1 }}</p>
                    <p class="pm-paragraph">{{ person.name }}</p>
                    <p class="pm-paragraph">{{ person.surname }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>

</div>
