<div ng-cloak ng-controller="todoListCtrl">
    <md-content class="pm-subtitle">
        <h2>place</h2>
        <md-divider></md-divider>
    </md-content>
    <md-content layout-padding>
        <form class="pm-form" name="placeForm">
            <fieldset>
                <legend>adding a place</legend>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>name</label>
                        <input maxlength="30"
                               minlength="10"
                               name="name"
                               ng-model="place.name"
                               ng-pattern="/^[\w\s]+$/"
                               required/>
                    </md-input-container>
                </div>
            </fieldset>
        </form>
    </md-content>
    <md-content>
        <md-list flex>
            <md-list-item class="md-3-line" ng-click="null" ng-repeat="place in listOfPlaces">
                <div class="md-list-item-text" layout="row">
                    <p class="pm-paragraph">{{ $index + 1 }}</p>
                    <p class="pm-paragraph">{{ place.name }}</p>
                    <p class="pm-paragraph">{{ place.whatToDo }}</p>
                    <p class="pm-paragraph">{{ place.whenToDoIt }}</p>
                    <p class="pm-paragraph">{{ place.notes }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
