<div ng-cloak ng-controller="placeCtrl">
    <md-content class="pm-subtitle">
        <h2>place</h2>
        <md-divider></md-divider>
    </md-content>
    <md-content layout-padding>
        <form class="pm-form" name="placeForm">
            <p>adding a place</p>
            <div layout="row">
                <md-input-container class="md-block">
                    <label>name</label>
                    <input md-maxlength="40"
                           name="name"
                           ng-model="place.name"
                           ng-pattern="/^[a-zA-Z\s]+$/"
                           required/>
                    <div ng-messages="placeForm.name.$error">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is mandatory with a maximum of forty characters
                        </div>
                        <div ng-message-exp="['pattern']">
                            only alphabetic characters and white spaces are allowed in this field
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>country</label>
                    <input md-maxlength="20"
                           name="country"
                           ng-model="place.country"
                           ng-pattern="/^[a-zA-Z\s]+$/"
                           required/>
                    <div ng-messages="placeForm.country.$error">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is mandatory with a maximum of twenty characters
                        </div>
                        <div ng-message-exp="['pattern']">
                            only alphabetic characters and white spaces are allowed in this field
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>what to do</label>
                    <input md-maxlength="60"
                           name="whatToDo"
                           ng-model="place.whatToDo"
                           ng-pattern="/^[a-z\s]+$/i"
                           required/>
                    <div ng-messages="placeForm.whatToDo.$error">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is mandatory with a maximum of sixty characters
                        </div>
                        <div ng-message-exp="['pattern']">
                            only alphabetic characters and white spaces are allowed in this field
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>when to do it</label>
                    <input md-maxlength="40"
                           name="whenToDoIt"
                           ng-model="place.whenToDoIt"
                           ng-pattern=""
                           required/>
                    <div ng-messages="placeForm.whenToDoIt.$error">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is date and time
                        </div>
                        <div ng-message-exp="['pattern']">
                            todo
                        </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>notes</label>
                    <input md-maxlength="60"
                           name="notes"
                           ng-model="place.notes"
                           ng-pattern="/^[a-z\s]+$/i"
                           required/>
                    <div ng-messages="placeForm.notes.$error">
                        <div ng-message-exp="['required', 'maxlength']">
                            this field is mandatory with a maximum of sixty characters
                        </div>
                        <div ng-message-exp="['pattern']">
                            only alphabetic characters and white spaces are allowed in this field
                        </div>
                    </div>
                </md-input-container>
                <md-button aria-label="add place" class="md-fab" ng-click="addPlace()">
                    <md-icon md-svg-src="/img/icons/ic_add_circle_outline.svg"></md-icon>
                </md-button>
            </div>
        </form>
    </md-content>
    <md-content>
        <md-list flex>
            <md-list-item class="md-dense" ng-click="null" ng-repeat="place in listOfPlaces">
                <div class="md-list-item-text" layout="row">
                    <p class="pm-paragraph">{{ $index + 1 }}</p>
                    <p class="pm-paragraph">{{ place.name }}</p>
                    <p class="pm-paragraph">{{ place.country }}</p>
                    <p class="pm-paragraph">{{ place.whatToDo }}</p>
                    <p class="pm-paragraph">{{ place.whenToDoIt }}</p>
                    <p class="pm-paragraph">{{ place.notes }}</p>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>
