md-content > h2 {
    text-indent: 10px;
    font-family: cursive;
}

p {
    text-indent: 15px;
}

p:first-letter {
    font-size: 1.4em;
    background-color: #eee;
}

md-toast {
    left: 0;
    right: 0;
    font-family: sans;
}
