.pm-side-nav {
    width: 100px;
    height: 900px;
    background-color: #def;
    padding-left: 0.2em;
}

.pm-subtitle {
    color: #aaa;
    margin-left: 20px;
}

.pm-paragraph {
    padding-right: 10px;
}

.pm-form {
    background-color: #fff;
    padding: 10px;
}

.pm-error {
    font-style: italic;
    color: #fa3;
    padding: 2px;
}
