<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>date picker</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/date-picker.css" media="all" rel="stylesheet">
</head>
<body ng-app="datePickerProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button href="/" title="back home" aria-label="home" ng-disabled="false" class="md-fab md-primary">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>date picker</h2>
        </div>
    </md-toolbar>
</div>

<div ng-controller="datePickerCtrl as ctrl">
    <section>
        <form>
            <fieldset>
                <legend>standard</legend>
                <md-content layout-padding>
                    <div flex-gt-xs>
                        <md-datepicker md-placeholder="Enter date" ng-model="ctrl.myDate"></md-datepicker>
                    </div>
                </md-content>
            </fieldset>
        </form>
    </section>
    <section>
        <form>
            <fieldset>
                <legend>tabbing the focus on the input to open the calendar</legend>
                <md-content layout-padding>
                    <div flex-gt-xs>
                        <md-datepicker md-open-on-focus md-placeholder="Enter date" ng-model="ctrl.myDate"></md-datepicker>
                    </div>
                </md-content>
            </fieldset>
        </form>
    </section>
    <section>
        <form>
            <fieldset>
                <legend>open the calendar that goes straight to the year view</legend>
                <md-content layout-padding>
                    <div flex-gt-xs>
                        <md-datepicker md-current-view="year" md-placeholder="Enter date" ng-model="ctrl.myDate"></md-datepicker>
                    </div>
                </md-content>
            </fieldset>
        </form>
    </section>
    <section>
        <form>
            <fieldset>
                <legend>open the calendar that only allows for the month to be selected</legend>
                <md-content layout-padding>
                    <div flex-gt-xs>
                        <md-datepicker md-mode="month" md-placeholder="Enter date" ng-model="ctrl.myDate"></md-datepicker>
                    </div>
                </md-content>
            </fieldset>
        </form>
    </section>
</div>

<script src="/webjars/angular/1.7.7/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.7/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/date-picker.js" type="text/javascript"></script>
</body>
</html>
