<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Range Date Picker</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/date-picker-range.css" media="all" rel="stylesheet">
</head>
<body ng-app="datePickerRangeProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Range Date Picker</h2>
        </div>
    </md-toolbar>
</div>

<section ng-controller="datePickerRangeCtrl as ctrl">
    <form>
        <fieldset>
            <legend>define a date range, please</legend>
            <md-content layout="column" layout-gt-sm="row" layout-padding>
                <div flex-order="1" flex-order-gt-sm="0" layout="column">
                    <md-subheader>start date</md-subheader>
                    <md-calendar ng-model="ctrl.startDate"></md-calendar>
                </div>
                <div flex-order="1" flex-order-gt-sm="1" layout="column">
                    <md-subheader>end date</md-subheader>
                    <md-calendar ng-model="ctrl.endDate"></md-calendar>
                </div>
                <div flex-order="0" flex-order-gt-sm="2" layout="column">
                    <md-subheader>dates</md-subheader>
                    <div>
                        <label>start</label>
                        <em>
                            {{ctrl.startDate | date:shortDate}}
                        </em>
                    </div>
                    <div><label>end</label>
                        <em>
                            {{ctrl.endDate | date:shortDate}}
                        </em>
                    </div>
                </div>
            </md-content>
        </fieldset>
    </form>
</section>

<script src="/webjars/angular/1.7.7/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.7/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/date-picker-range.js" type="text/javascript"></script>
</body>
</html>
