<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>dialog</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/dialog.css" media="all" rel="stylesheet">
</head>
<body ng-app="dialogProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>dialog</h2>
        </div>
    </md-toolbar>
</div>

<div class="md-padding" id="popupDialogContainer" ng-controller="dialogCtrl as ctrl">
    <md-content layout-padding>
        <div class="dialog-demo-content" layout="row" layout-align="center" layout-margin layout-wrap>
            <md-button class="md-primary md-raised" ng-click="showAlert($event)">alert dialog</md-button>
            <md-button class="md-primary md-raised" ng-click="showConfirm($event)">confirm dialog</md-button>
            <md-button class="md-primary md-raised" ng-click="showPrompt($event)">prompt dialog</md-button>
            <md-button class="md-primary md-raised" ng-click="showPopupDialog($event)">popup dialog</md-button>
            <md-button class="md-primary md-raised" ng-click="showTabbedPopupDialog($event)">tabbed popup dialog</md-button>
            <md-button class="md-primary md-raised" ng-click="showPreRenderedDialog($event)" ng-if="listPreRenderedButton">
                pre-rendered dialog
            </md-button>
        </div>
        <div id="status" ng-if="status">
            <b class="md-padding" layout="row" layout-align="center center">
                {{ status }}
            </b>
        </div>
        <!-- pre-rendered dialog form -->
        <form>
            <fieldset>
                <legend>sample preference checkbox</legend>
                <md-checkbox aria-label="pre-rendered dialog"
                             ng-model="listPreRenderedButton">
                    show pre-rendered dialog
                </md-checkbox>
            </fieldset>
        </form>
        <!-- pre-rendered dialog -->
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="preRenderedDialog">
                <md-dialog layout-padding>
                    <h2>pre-rendered popup dialog</h2>
                    <h4>this is a sample of <em>pre-rendered</em> dialog</h4>
                    <p>
                        this dialog is a static element in the DOM just visually <em>hidden</em>
                    </p>
                </md-dialog>
            </div>
        </div>
    </md-content>
</div>

<script src="/webjars/angular/1.7.7/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.7/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/dialog.js" type="text/javascript"></script>
</body>
</html>
