<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>fab-speed</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/fab-speed.css" media="all" rel="stylesheet">
</head>
<body ng-app="fabSpeedProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>fab-speed</h2>
            <span flex></span>
            <md-fab-speed-dial class="md-scale" md-direction="left">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-tooltip md-direction="down">menu</md-tooltip>
                        <md-icon aria-label="menu" md-svg-src="/img/icons/ic_menu.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="copy" class="md-fab-menu md-raised md-mini">
                        <md-tooltip md-direction="down">copy</md-tooltip>
                        <md-icon md-svg-src="/img/icons/ic_content_copy.svg" aria-label="copy"></md-icon>
                    </md-button>
                    <md-button aria-label="cut" class="md-fab-menu md-raised md-mini">
                        <md-tooltip md-direction="down">cut</md-tooltip>
                        <md-icon md-svg-src="/img/icons/ic_content_cut.svg" aria-label="cut"></md-icon>
                    </md-button>
                    <md-button aria-label="paste" class="md-fab-menu md-raised md-mini">
                        <md-tooltip md-direction="down">paste</md-tooltip>
                        <md-icon md-svg-src="/img/icons/ic_content_paste.svg" aria-label="paste"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-toolbar>
</div>

<div ng-controller="fabSpeedCtrl as ctrl">
    <md-content>

    </md-content>
</div>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/fab-speed.js" type="text/javascript"></script>
</body>
</html>
