<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>forms</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/forms.css" media="all" rel="stylesheet">
</head>
<body ng-app="formsProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>forms</h2>
        </div>
    </md-toolbar>
</div>

<div ng-controller="formsCtrl as ctrl">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-center-tabs>
            <!-- admins -->
            <md-tab id="tabWeak">
                <md-tab-label>
                    <md-icon md-svg-src="/img/icons/ic_contacts.svg"></md-icon>
                    <em>admins</em>
                </md-tab-label>
                <md-tab-body>
                    <h3>admins</h3>
                    <md-content layout-padding>
                        <p ng-bind-html="adminHelp"></p>
                        <div class="included" ng-include="'/html/templates/form-weak.html'"></div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <!-- employees -->
            <md-tab id="tabNice">
                <md-tab-label>
                    <md-icon md-svg-src="/img/icons/ic_people.svg"></md-icon>
                    <em>employees</em>
                </md-tab-label>
                <md-tab-body>
                    <h3>employees</h3>
                    <md-content layout-padding>
                        <p ng-bind-html="employeeHelp"></p>
                        <div ng-include class="included" src="'/html/templates/form-nice.html'"></div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <!-- projects -->
            <md-tab id="tabStrong">
                <md-tab-label>
                    <md-icon md-svg-src="/img/icons/ic_work.svg"></md-icon>
                    <em>projects</em>
                </md-tab-label>
                <md-tab-body>
                    <h3>projects</h3>
                    <md-content layout-padding>
                        <p ng-bind-html="projectHelp"></p>
                        <div ng-include class="included" src="'/html/templates/form-strong.html'"></div>
                    </md-content>
                </md-tab-body>
            </md-tab>
            <!-- jobs -->
            <md-tab id="tabHardened">
                <md-tab-label>
                    <md-icon md-svg-src="/img/icons/ic_assignment.svg"></md-icon>
                    <em>jobs</em>
                </md-tab-label>
                <md-tab-body>
                    <h3>jobs</h3>
                    <md-content layout-padding>
                        <p ng-bind-html="jobHelp"></p>
                        <div ng-include class="included" src="'/html/templates/form-hardened.html'"></div>
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-sanitize/1.7.8/angular-sanitize.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/forms.js" type="text/javascript"></script>
</body>
</html>
