<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>hello</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
</head>
<body ng-app="helloProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button href="/" title="back home" aria-label="home" ng-disabled="false" class="md-fab md-primary">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>hello</h2>
        </div>
    </md-toolbar>
</div>

<section layout="column" layout-padding ng-controller="helloCtrl">
    <md-content class="md-no-momentum">
        <h3>AngularJS Material Proof - Hello</h3>
        <fieldset>
            <legend>personal data</legend>
            <img src="/img/icons/ic_person_24px.svg"/>
            <md-input-container class="md-icon-float md-block">
                <label for="name">name: </label>
                <input id="name" ng-model="user.name" type="text"/>
            </md-input-container>
            <md-input-container class="md-icon-float md-block">
                <label for="surname">surname: </label>
                <input id="surname" ng-model="user.surname" type="text"/>
            </md-input-container>
        </fieldset>
    </md-content>
    <md-content class="md-no-momentum">
        <p ng-if="user.name && user.surname">
            {{hello()}}
        </p>
    </md-content>
</section>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/hello.js" type="text/javascript"></script>
</body>
</html>
