<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Menu Bar</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link rel="stylesheet" media="all" href="/webjars/angular-material/1.1.5/angular-material.min.css">
    <link rel="stylesheet" media="all" href="/css/menu-bar.css">
</head>
<body ng-app="menuBarApp" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <h2 flex md-truncate>Menu Bar</h2>
        </div>
    </md-toolbar>
</div>

<div ng-controller="menuBarCtrl as ctrl">

</div>

<script type="text/javascript" src="/webjars/angular/1.7.7/angular.min.js"></script>
<script type="text/javascript" src="/webjars/angular-animate/1.7.7/angular-animate.min.js"></script>
<script type="text/javascript" src="/webjars/angular-aria/1.7.5/angular-aria.min.js"></script>
<script type="text/javascript" src="/webjars/angular-messages/1.7.5/angular-messages.min.js"></script>
<script type="text/javascript" src="/webjars/angular-material/1.1.5/angular-material.min.js"></script>
<script type="text/javascript" src="/js/menu-bar.js"></script>
</body>
</html>
