<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>sample directives</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/sample-directives.css" media="all" rel="stylesheet">
</head>
<body ng-app="sampleDirectivesProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>sample directives</h2>
        </div>
    </md-toolbar>
</div>

<div ng-controller="sampleDirectivesCtrl as ctrl">
    <md-content layout-padding>
        <pm-sample class="sample"></pm-sample>
        <md-divider></md-divider>
    </md-content>
    <md-content layout-padding>
        <pm-article></pm-article>
        <md-divider></md-divider>
    </md-content>
    <md-content layout-padding>
        <pm-person></pm-person>
        <md-divider></md-divider>
    </md-content>
    <md-content layout-padding>
        <pm-user></pm-user>
    </md-content>
</div>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/sample-directives.js" type="text/javascript"></script>
</body>
</html>
