<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>todo lists</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/todo-list.css" media="all" rel="stylesheet">
</head>
<body ng-app="todoListProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>todo lists</h2>
        </div>
    </md-toolbar>
</div>

<div layout="row" ng-controller="todoListCtrl as ctrl">
    <md-sidenav class="md-sidenav-left side-nav"
                md-component-id="left"
                md-disable-close-events
                md-is-locked-open="true">
        <md-button aria-label="place" class="" href="#!/place" ng-disabled="false" title="place">
            <md-icon md-svg-src="/img/icons/ic_room.svg"></md-icon>
        </md-button>
        <md-button aria-label="people" class="" href="#!/people" ng-disabled="false" title="people">
            <md-icon md-svg-src="/img/icons/ic_people.svg"></md-icon>
        </md-button>
        <md-button aria-label="photo" class="" href="#!/photo" ng-disabled="false" title="photo">
            <md-icon md-svg-src="/img/icons/ic_photo.svg"></md-icon>
        </md-button>
        <md-button aria-label="share" class="" href="#!/share" ng-disabled="false" title="share">
            <md-icon md-svg-src="/img/icons/ic_share.svg"></md-icon>
        </md-button>
    </md-sidenav>
    <md-content layout-padding>
        <div ng-view></div>
    </md-content>
</div>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-route/1.7.8/angular-route.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/todo-list.js" type="text/javascript"></script>
</body>
</html>
