<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>tooltip</title>
    <meta content="" name="description"/>
    <meta content="Paolo Mococci" name="author"/>
    <link href="/webjars/angular-material/1.1.5/angular-material.min.css" media="all" rel="stylesheet">
    <link href="/css/tooltip.css" media="all" rel="stylesheet">
</head>
<body ng-app="tooltipProof" ng-cloak>

<div>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button aria-label="home" class="md-fab md-primary" href="/" ng-disabled="false" title="back home">
                <md-icon md-svg-src="/img/icons/ic_home.svg"></md-icon>
            </md-button>
            <h2 flex md-truncate>tooltip</h2>
            <span flex></span>
            <md-button aria-label="home" class="md-fab md-primary" href="#" ng-disabled="false" title="insert drive file">
                <md-icon md-svg-src="/img/icons/ic_insert_drive_file.svg"></md-icon>
            </md-button>
            <md-button aria-label="home" class="md-fab md-primary" href="#" ng-disabled="false" title="insert photo">
                <md-icon md-svg-src="/img/icons/ic_insert_photo.svg"></md-icon>
            </md-button>
            <md-button aria-label="home" class="md-fab md-primary" href="#" ng-disabled="false" title="insert comment">
                <md-icon md-svg-src="/img/icons/ic_insert_comment.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
</div>

<div ng-controller="tooltipCtrl as ctrl">
    <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">you can modify tooltip property</h2>
            <span flex></span>
            <md-button aria-label="refresh" class="md-icon-button test-tooltip">
                <md-tooltip md-direction="left">refresh this sample</md-tooltip>
                <md-icon md-svg-src="/img/icons/ic_refresh.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <div  layout="row" layout-align="space-between">
            <form>
                <fieldset>
                    <legend>tooltip position form</legend>
                    <md-radio-group ng-model="proof.tipDirection">
                        <md-radio-button value="top">top</md-radio-button>
                        <md-radio-button value="left">left</md-radio-button>
                        <md-radio-button value="bottom">bottom</md-radio-button>
                    </md-radio-group>
                </fieldset>
            </form>
            <md-button class="md-fab">
                <md-tooltip md-delay="proof.delayTooltip"
                            md-direction="{{proof.tipDirection}}"
                            md-visible="proof.showTooltip">
                    insert drive file
                </md-tooltip>
                <md-icon md-svg-src="/img/icons/ic_insert_drive_file.svg"></md-icon>
            </md-button>
        </div>
        <div layout="row" layout-align="space-between center">
            <form>
                <fieldset>
                    <legend>tooltip visibility form</legend>
                    <md-checkbox ng-model="proof.showTooltip">
                        tooltip is visible
                    </md-checkbox>
                </fieldset>
            </form>
            <md-button aria-label="insert photos" class="md-fab">
                <md-tooltip md-delay="proof.delayTooltip"
                            md-direction="{{proof.tipDirection}}"
                            md-visible="proof.showTooltip">
                    insert photos
                </md-tooltip>
                <md-icon md-svg-src="/img/icons/ic_insert_photo.svg"></md-icon>
            </md-button>
        </div>
        <div>
            <div layout="row" layout-align="space-between center">
                <form>
                    <fieldset>
                        <legend>tooltip delay form</legend>
                        <md-input-container>
                            <label>delay visibility</label>
                            <input ng-model="proof.delayTooltip"/>
                        </md-input-container>
                    </fieldset>
                </form>
                <md-button aria-label="Menu with Tooltip Delay" class="md-fab">
                    <md-tooltip md-delay="proof.delayTooltip"
                                md-direction="{{proof.tipDirection}}"
                                md-visible="proof.showTooltip">
                        insert comment
                    </md-tooltip>
                    <md-icon md-svg-src="/img/icons/ic_insert_comment.svg"></md-icon>
                </md-button>
            </div>
        </div>
    </md-content>
</div>

<script src="/webjars/angular/1.7.8/angular.min.js" type="text/javascript"></script>
<script src="/webjars/angular-animate/1.7.8/angular-animate.min.js" type="text/javascript"></script>
<script src="/webjars/angular-aria/1.7.5/angular-aria.min.js" type="text/javascript"></script>
<script src="/webjars/angular-messages/1.7.5/angular-messages.min.js" type="text/javascript"></script>
<script src="/webjars/angular-material/1.1.5/angular-material.min.js" type="text/javascript"></script>
<script src="/js/tooltip.js" type="text/javascript"></script>
</body>
</html>
